@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300;400;500;600;700&display=swap');
:root{
  --cor-principal: #FF2800;
  --cor-branca: #fff;
  --cor-input: #f5f5f71b;
  --border-radius: 12.03px;
}
body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

.left{
  background-image: url('./assets/background-login.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img{
  width: 280px;
}

.container-login{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right{
  width: calc(100% - 35%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right input{
  border: none !important;
  background-color: #ffffff00;
  outline: none;
}

.inputType{
  background-color: var(--cor-input);
  border-radius: var(--border-radius);
  padding: 25px 15px;
  width: 500px;
  max-width: 532.97px;
  display: flex;
  color: white;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
}

.inputType input::placeholder{
  color: #ffffffcc;
}

.inputType input{
  font-size: 18px;
  height: 100%;
  width: 80%;
  color: #ffffffcc;
}

.inputType input:focus{
  border: 12px solid red;
}

.inputType .icone{
  color: #ffffff6c !important;
}

.logincontainer h1{
  color: var(--cor-principal);

}

.logincontainer p{
  color: #8E8E8E;
}

.logincontainer button{
  background-color: var(--cor-principal);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 20px;
  font-weight: 600;
  padding: 25px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.dicas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  border-top: 1px solid #bebebe;
}

.containerButton{
  display: flex;
  justify-content: end;
}



.container-login a{
  color: var(--cor-principal);
  text-decoration: none;
}

* ::-webkit-scrollbar{
  opacity: 0;
  width: 0px;
}

table{
  zoom: 0.75 !important;
}